---
  title: Introduction
---

<% partial 'partials/material_heading' do %>
  Introduction
<% end %>


<p>
This material is intended for the fall 2018 course of Shell Scripting (CSM13501).
</p>

<p>
The material is divided into five parts and you can find the links to the parts from the page header. 
</p>

<p>
On the course we expect some programming skills (such as C). In order to participate you will need a computer with Linux installed or on a virtual machine. With Mac you might notice some small differences, such as "find -type f -not -path [...]" and "find ./ -type f -note -path [...]". These both work on Linux but only the latter one in Mac as on linux the path is optional and not in Mac. You can use the computer clas rooms in Kumpula, for example B221 in Exactum.
</p>

<p>
The intended course load is going to be 10-20 hours per week. The first parts are easier and as you advance the tasks become harder. Note, that the tasks may depend on the earlier tasks on earlier weeks. Reserve time to complete the tasks. 
</p>


<% partial 'partials/material_sub_heading' do %>
  Content
<% end %>

<p>
The course is about serious BASH scripting and using the traditional GNU command line tools (such as cat cut tr grep find etc). This course is meant to deepen the understanding of the Linux terminal.

The tasks are based on the bash command processor but most of the tasks can be done with alternatives such as bourne shell.

The techniques taught on the course are very useful for the empirical experimentation in post-graduate studies (at least for CS).

NOTE. The course is not about fundamentals of Linux. Whatever that would be, digging into kernel and compiling drivers.

In this sense, the course name can be explained as follows. It's "UNIX fundamentals", but UNIX is registered trademark and whatnot, so we were scared to use that name. UNIX has a philosophy: "small programs that can be strung together through a command line interpreter using pipes". That can is one fundamental of UNIX, and that's what we will be doing: combining the small programs into greatness. In this process, BASH is just a tool we choose to use.

So if you think you're entering a course about Linux administration, you're not. There's another course for that.
</p>

<% partial 'partials/material_sub_heading' do %>
  Working and schedule
<% end %>

<p>
The plan is to start doing each week's exercises at home, and then come to PAJA for asking questions about where you're stuck. PAJA is on *TBC (Fridays 10-14 @ B221)* That's where you ask questions about hard stuff. 
The course does not have lectures. 
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Materials
<% end %>

<p>
Each assignment has its own preparatory material. Try to do the tasks in the order they are given.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Assignement types and grading
<% end %>

<p>
The course tasks are embedded as part of the course material. The tasks include shell scripting and multiple choice questions. The tasks are returned via the Test My Code environment.
</p>

<p>
The grading of the course is either passed or failed. The number of course credits you get is determined by the amount of tasks completed successfully as follows:
</p>

<table class="table">
  <tr>
    <td>
      2 credits
    </td>
    <td>
      Means 4/6 from the tasks done (all the tasks for the first three course parts)
    </td>
  </tr>
  <tr>
    <td>
      3 credits
    </td>
    <td>
      Means 5/6 from the tasks done (all the tasks for the first four course parts)
    </td>
  </tr>
  <tr>
    <td>
      4 credits
    </td>
    <td>
      Means 6/6 from the tasks done (all the tasks for the five course parts)
    </td>
  </tr>
</table>

<% partial 'partials/material_sub_heading' do %>
  Course exam
<% end %>

<p>
The course does not have an exam.
</p>

<% partial 'partials/material_heading' do %>
  User account for TMC
<% end %>

<p>
On the course we use the Test My Code (TMC) -environment for returning automatic checking of tasks. You need the credentials for this system from<a href="https://tmc.mooc.fi/user/new">here</a>.                 </p>

<p>
Once you have created a user account you can login to the material from the right upper corner.
</p>

<% partial 'partials/material_heading' do %>
  Course material and licence
<% end %>

<p>
The course material was originally created by Mikko Pervilä. The following persons have made modifications/additions over the years Mikko Leino, Samu Varjonen, Julien Mineraud. The technology used to implement this course is being researched and developed by the <a href="https://www.helsinki.fi/en/researchgroups/data-driven-education" target="_blank" rel="noopener">Agile Education Research</a> group at University of Helsinki. 
</p>

<p>
This material is released under Creative Commons <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">BY-NC-SA</a>.
</p>

