---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä
<% end %>

<p>
  Tämä materiaali on tarkoitettu syksyn 2018 kursseille Ohjelmoinnin perusteet (TKT10002) ja Ohjelmoinnin jatkokurssi (TKT10003). Materiaalin osat 1-7 liittyvät kurssiin ohjelmoinnin perusteet ja osat 8-14 kurssiin ohjelmoinnin jatkokurssi.
</p>

<p>
  Tämän sivun ylälaidassa on linkit materiaalin osiin. Osia lisätään kurssin edetessä.
</p>

<p>
  Kurssilla ei oleteta aiempaa ohjelmointikokemusta. Osallistumista varten tarvitset tietokoneen sekä mahdollisuuden kurssilla käytettävien ohjelmistojen asentamiseen. Tehtäviä voi tehdä myös Kumpulan kampuksella sijaitsevilla koneilla, jolloin omaa tietokonetta ei tarvita.
</p>

<p>
  Kurssien oletettu työkuorma on noin 10-20 tuntia viikkoa kohden. Varaa kurssin tekemiseen aikaa.
</p>


<% partial 'partials/material_sub_heading' do %>
  Osaamistavoitteet
<% end %>

<p>
  Kursseilla opitaan perustaidot ohjelmoinnista Java-kielellä.
</p>

<table class="table">
  <tr>
    <th>

    </th>
    <th>
      Ohjelmoinnin perusteet
    </th>
  </tr>

  <tr>
    <td>
      Osa
    </td>
    <td>
      Osaamistavoitteet
    </td>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      Osaa kirjoittaa ohjelmia, jotka lukevat käyttäjältä syötettä ja tekevät laskentaa syötteen perusteella. Tuntee käsitteet muuttuja ja ehtolause ja osaa käyttää muuttujia ja ehtolauseita ohjelmissa. Tuntee toistolauseen ja osaa soveltaa sitä ohjelmointiongelmissa. Tietää mitä lohkot ovat ja tuntee lohkojen merkityksen muuttujien näkyvyyden ja olemassaolon kannalta. 
    </td>
  </tr>
  <tr>
    <td>
      2
    </td>
    <td>      
    Ymmärtää ohjelman suorituksen lineaarisena ja deterministisenä prosessina, ja osaa kuvata ohjelman suoritusta vuokaavion avulla. Tuntee loogiset operaatiot <code>ja</code>, <code>tai</code> ja <code>ei</code> ja osaa käyttää niitä ehtolauseissa. Seuraa ohjelman käyttämien muuttujien arvojen muuttumista ohjelman suorituksen aikana. Tuntee käsitteen metodi ja tuntee metodiin liittyvät käsitteet parametri, kutsupino ja palautusarvo. Osaa luoda parametrittomia ja parametrillisia metodeja. Osaa luoda metodeja, jotka eivät palauta arvoa, ja metodeja, jotka palauttavat arvon. Ymmärtää miten ohjelman suoritus etenee metodikutsun yhteydessä. 
    </td>
  </tr>
  <tr>
    <td>
      3
    </td>
    <td>
      Tuntee lista- ja taulukkorakenteen ja osaa lisätä ja poistaa niissä olevia arvoja. Osaa käsitellä listaa ja taulukkoa toistolauseen avulla ja tuntee käsitteen indeksi. Tuntee käsitteen merkkijono ja osaa käsitellä merkkijonoja. Ymmärtää vaiheessa muuttujien ja metodien nimennän ja ohjelman ymmärrettävyyden yhteyden.
    </td>
  </tr>
  <tr>
    <td>
      4
    </td>
    <td>
      Tuntee käsitteen tiedosto ja osaa lukea merkkijonomuotoista tietoa tiedostosta. Muokkaa tiedostosta luettua tietoa muuhun muotoon. Tuntee olio-ohjelmointiin liittyvät käsitteet luokka, olio, konstruktori, olion metodit ja olion muuttujat (eli oliomuuttujat). Osaa kuvata tietoa olioita käyttäen. Osaa luoda luokan ja luo olioita tekemistään luokista. Osaa käsitellä olioita listarakenteessa. 
    </td>
  </tr>
  <tr>
    <td>
      5
    </td>
    <td>
      Tuntee hajautustaulun ja osaa käsitellä hajautustaulussa olevaa tietoa. Osaa käyttää olioita hajautustaulun arvona. Ymmärtää alkeis- ja viittaustyyppisten muuttujien erot ohjelmissa. Osaa käyttää olioita metodin parametrina. Osaa määritellä olioita, jotka sisältävät olioita, ja osaa esimerkiksi käyttää listaa oliomuuttujana. Tuntee luokkaakaavioiden merkintätavan ja luo luokkia luokkakaavion perusteella. 
    </td>
  </tr>
  <tr>
    <td>
      6
    </td>
    <td>
      Osaa käyttää olioita sekä tiedon esittämiseen että ohjelman jakamiseen useampaan vastuualueeseen (tekstikäyttöliittymä, sovelluslogiikka). Ryhmittelee arvoja hajautustaulun avulla ja osaa käyttää listaa hajautustaulun arvona. Viittaa samaan olioon useammasta paikasta. Ymmärtää staattisten ja ei staattisten metodien erot.
    </td>
  </tr>
  <tr>
    <td>
      7
    </td>
    <td>
      Tietää mitä käsite algoritmi tarkoittaa, ja tuntee ainakin yhden tiedon järjestämiseen käytettävän algoritmin sekä yhden tiedon hakemiseen käytettävän algoritmin. Tietää mistä yksikkötestauksessa on kyse ja osaa kirjoittaa olion metodien toimintaa testaavia yksikkötestejä, sekä tuntee testivetoisen ohjelmistokehityksen perusajatuksen. 
    </td>
  </tr>

  <tr>
    <th>

    </th>
    <th>
      Ohjelmoinnin jatkokurssi
    </th>
  </tr>

  <tr>
    <td>
      Osa
    </td>
    <td>
      Osaamistavoitteet
    </td>
  </tr>
  <tr>
    <td>
      8
    </td>
    <td>
      Tuntee olio-ohjelmoinnin periaatteet. Tutustuu Javan luokkien rakenteeseen ja ymmärtää miksi jokaisella oliolla on metodit toString, equals ja hashCode. Tietää em. metodien käyttökohteet. Tuntee käsitteen rajapinta ja osaa luoda luokan, joka toteuttaa annetun rajapinnan. Tietää miten rajapinnat merkitään luokkakaavioon. 
    </td>
  </tr>
  <tr>
    <td>
      9
    </td>
    <td>
      Osaa luoda luokkia, jotka periytyvät toisesta luokasta. Ymmärtää perinnän hyödyt ja osaa toisaalta esittää tapauksia, joihin perintä ei sovi. Tietää miten abstraktit luokat toimivat. Tietää miten perintä merkitään luokkakaavioon. Tuntee käsitteen perintähierarkia.
    </td>
  </tr>
  <tr>
    <td>
      10
    </td>
    <td>
      Ymmärtää käsitteen pakkaus ja osaa hyödyntää pakkauksia ohjelman jäsentelyssä. Tuntee Javan erityyppiset poikkeukset ja luo ohjelmia, jotka varautuvat poikkeuksiin. Tuntee Javan omia järjestämiseen tarkoitettuja apuvälineitä ja tuntee rajapinnan Comparable ja hyödyntää sitä olioiden järjestämisessä.
    </td>
  </tr>
  <tr>
    <td>
      11
    </td>
    <td>
      Käsittelee tietokokoelmia (lista, hajautustaulun avaimet, hajautustaulun arvot, hajautustaulun avain-arvo -parit) virtana. Muuntaa virran arvoja toiseksi (map) ja rajaa arvoja annettujen sääntöjen perusteella (filter). Tuntee käsitteen lambda-lauseke ja tietää miten virran metodeille annetaan parametrina lambda-lauseke.
    </td>
  </tr>
  <tr>
    <td>
      12
    </td>
    <td>
      Tietää miten paljon käytetyt ArrayList ja HashMap toimivat. Tuntee käsitteet säännöllinen lauseke, lueteltu tyyppi, ja iteraattori, ja hyödyntää näitä osana ohjelmia. Tutustuu käsiteanalyysiin.
    </td>
  </tr>
  <tr>
    <td>
      13
    </td>
    <td>
      Tutustuu graafisten käyttöliittymien ohjelmointiin. Tuntee muutamia käyttöliittymäkomponentteja, käyttöliittymäkomponenttien asettelun mekanismeja, sekä osaa käsitellä käyttöliittymän tapahtumia. Osaa tehdä käyttöliittymiä, jotka sisältävät useamman näkymän (esimerkiksi kirjautumisnäkymä, tiedon listaukseen käytettävä näkymä, tiedon muokkaukseen käytettävä näkymä). Tuntee erilaisia kaavioita (viivakaavio, pylväskaavio). 
    </td>
  </tr>
  <tr>
    <td>
      14
    </td>
    <td>
      Osaa piirtää graafisen käyttöliittymän avulla. Osaa näyttää kuvia sekä soittaa äänitiedostoja. Luo suuremman ohjelman esimerkkiä noudattaen. Osaa jakaa ohjelman muille. Tietää ohjelmoinnin jatkokurssin jälkeen otettavia kursseja.      
    </td>
  </tr>
</table>


<% partial 'partials/material_sub_heading' do %>
  Työskentelytavat ja aikataulu
<% end %>

<p>
  TODO: paino tehtävien tekemisessä.
</p>
<p>
  Kurssilla on viikoittaiset luennot tiistaisin klo 10:15 Kumpulan Exactumin salissa A111. Luentojen lisäksi Kumpulassa järjestetään pajaohjausta tehtävien tekemiseen seuraavasti:
</p>

<ul>
  <li>Maanantaisin (ei 3.9.) klo 12-18 salissa BK107.</li>
  <li>Keskiviikkoisin klo 10-16 salissa BK107.</li>
  <li>Perjantaisin klo 12-16 salissa B221.</li>
</ul>

<p>
  Kurssin tehtävillä on viikoittainen deadline maanantaisin kello 22:00. Täysiin tehtäväpisteisiin tähdättäessä ensimmäisen osan tehtävät tulee olla palautettuna 10.9. klo 22:00 mennessä. Toisen osan tehtävät tulee olla palautettuna 17.9. klo 22:00 mennessä jne.
</p>

<p>
  Tehtävien palauttaminen myöhässä on mahdollista neljän päivän ajan tehtävien alkuperäisestä deadlinestä, eli ensimmäisen osan tehtäviä voi palauttaa myöhäispalautuksina 14.9. klo 22:00 asti. Toisen osan tehtäviä voi palauttaa myöhäispalautuksina 21.9. klo 22:00 asti jne. Myöhässä palautetut tehtävät ovat kurssin arvostelussa 75 % arvoisia niiden alkuperäisestä pistemäärästä.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Tukiväylät
<% end %>

<p>
  Pajaohjaus on kurssin ensisijainen tukimuoto. Pajaohjauksen lisäksi kurssin tehtävien tekemiseen voi kysyä apua sekä kurssiin liittyvän Moodlen keskustelualueella (osoite Moodleen on <a href="https://moodle.helsinki.fi/course/view.php?id=30111" target="_blank">https://moodle.helsinki.fi/course/view.php?id=30111</a>) että verkossa olevalta keskustelukanavalta.
</p>

<p>
  Verkossa olevalle keskustelukanavalle <code>#mooc.fi</code> pääsee helpointen kanavan Matrix-huoneen kautta: <a href="https://riot.im/app/#/room/#mooc.fi:matrix.org"  target="_blank" rel="noopener">https://riot.im/app/#/room/#mooc.fi:matrix.org</a>. Jos et pidä modernista teknologiasta, voit myös liittyä huoneeseen Ircnetin kautta seuraamalla näitä ohjeita: <a href="http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/" target="_blank" rel="noopener">http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/</a>. Materiaalin ylälaidassa on myös linkki keskustelukanavalle. 
</p>

<p>
  Huomaathan, että kanavan osallistujat ovat kanssaopiskelijoita ja kurssin aiemmin tehneitä opiskelijoita. Kanavan toiminta perustuu vapaaehtoisuuteen.
</p>

<p>
  TODO: tähän vielä ajat milloin opettajat käyvät vastaamassa kysymyksiin Moodlessa.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Kurssimateriaalin lukeminen
<% end %>


<p>
  Lue kurssimateriaalia siten, että teet samalla itse kaikki lukemasi esimerkit. Esimerkkeihin kannattaa tehdä pieniä muutoksia ja tarkkailla, miten muutokset vaikuttavat ohjelman toimintaan. Äkkiseltään voisi luulla, että esimerkkien tekeminen ja muokkaaminen hidastaa opiskelua. Tämä ei kuitenkaan pidä paikkansa.
</p>

<p>
  Proseduraalisten taitojen kuten ohjelmoinnin oppiminen perustuu oleellisesti aktiiviseen tekemiseen ja rutiinin kasvattamiseen. Esimerkkien ja erityisesti erilaisten omien kokeilujen tekeminen on parhaita tapoja "sisäistää" kurssin aihepiiri.
</p>

<p>
  Pyri tekemään tai ainakin yrittämään tehtäviä sitä mukaa kuin luet kurssimateriaalia. Jos et osaa heti tehdä jotain tehtävää, älä masennu, vaan kysy neuvoa tehtävän tekemiseen. Haastavimpia tehtäviä kannattaa tehdä useampaan otteeseen siten, että tehtävien uudelleen tekemisen välillä pitää muutaman tunnin tai päivän tauon.
</p>

<p>
  Kurssimateriaalia ei ole tarkoitettu vain kertaalleen luettavaksi. Joudut varmasti myöhemmin palaamaan jo aiemmin lukemiisi kohtiin tai aiemmin tekemiisi tehtäviin. Kurssimateriaalin teksti ei myöskään sisällä kaikkea oleellista ohjelmointiin liittyvää. Itse asiassa ei ole olemassa kirjaa josta löytyisi kaikki oleellinen. Joudut joka tapauksessa ohjelmoijan urallasi etsimään tietoa myös omatoimisesti. Kurssin harjoitukset sisältävät jo jonkun verran ohjeita, mistä suunnista ja miten hyödyllistä tietoa on mahdollista löytää.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Tehtävätyypit ja tehtävien tekeminen
<% end %>

<p>
  Kurssin tehtävät on upotettu osaksi kurssimateriaalia. Kurssitehtävät sisältävät ohjelmointitehtäviä (kymmeniä osaa kohden), monivalintatehtäviä, selitystehtäviä (muutamia per osa), selitystehtävien vertaisarviointia (muutamia per osa) sekä tehtävien keksimistehtäviä. Tehtävät palautetaan kurssilla käytössä olevan Test My Code -ympäristön kautta sekä kurssimateriaalin kautta.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö
<% end %>

<p>
  Hyvä yhteistyö edesauttaa jokaisen oppimista ja parantaa oppimistuloksia. Yhteistyö ja avun kysyminen on kurssin tehtäviä tehdessä sallittua ja suositeltavaa. Jos teet tehtäviä yhdessä muiden kanssa, sinun tulee kuitenkin tehdä ja palauttaa omat ratkaisusi itse.
</p>

<p>
  Hyvä ohjesääntö yhteistyöhön on ns. <a href="http://courses.cs.washington.edu/courses/cse100/99au/syllabus.htm#OTHER" target="_blank" rel="noopener">Gilligan's Island -sääntö</a>:
</p>

<p>
  <em>

    <strong>The Gilligan's Island Rule</strong>: You are free to meet with fellow students(s) and discuss an assignment with them. Writing on a board or shared piece of paper during the meeting is acceptable; however, you should not take any written (electronic or otherwise) record away from the meeting. Everything that you derive from the collaboration should be in your head. After the meeting, engage in at least a half-hour of mind-numbing activity (like watching an episode of Gilligan's Island), before starting to work on the assignment. This will assure that you are able to reconstruct what you learned from the meeting by yourself.

  </em>
</p>

<p>
  <em>
    Kokeessa yhteistyö ei ole sallittua.
  </em>
</p>


<% partial 'partials/material_sub_heading' do %>
  Opintovilpistä
<% end %>

<p>
  Kurssilla seurataan Helsingin yliopiston opintokäytäntöjä. Plagiarismi ja opintovilppi, eli esimerkiksi netissä olevien tai kaverilta saatujen vastausten kopiointi ja niiden palauttaminen omana työnä on kiellettyä.
</p>

<p>
  Todettu opintovilppi johtaa kurssisuorituksen hylkäämiseen ja toistuva opintovilppi voi johtaa opinto-oikeuden määräaikaiseen menettämiseen.  Lue lisää osoitteesta <a href="http://blogs.helsinki.fi/alakopsaa/opiskelijalle/"  target="_blank" >http://blogs.helsinki.fi/alakopsaa/opiskelijalle/</a>.
</p>

<%= partial 'partials/quiz', locals: { id: '587bc5f11b527d0004a7971c' } %>



<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>

<p>
  Opintojakson arvostelu perustuu harjoitustehtäviin sekä kurssin lopussa järjestettävään tenttiin. Osallistuakseen kurssin tenttiin, opiskelijan tulee tehdä kurssin jokaisen viikon tehtävistä vähintään 75 %. Kurssin arvosana muodostuu seuraavasti:
</p>

<table class="table">
  <tr>
    <td>
      Arvosana 1
    </td>
    <td>
      Vähintään 75 % jokaisen osan tehtäväpisteistä ja vähintään 50 % koepisteistä.
    </td>
  </tr>
  <tr>
    <td>
      Arvosana 2
    </td>
    <td>
      Vähintään 75 % jokaisen osan tehtäväpisteistä ja vähintään 60 % koepisteistä.
    </td>
  </tr>
  <tr>
    <td>
      Arvosana 3
    </td>
    <td>
      Vähintään 75 % jokaisen osan tehtäväpisteistä ja vähintään 70 % koepisteistä.
    </td>
  </tr>
  <tr>
    <td>
      Arvosana 4
    </td>
    <td>
      Vähintään 75 % jokaisen osan tehtäväpisteistä ja vähintään 80 % koepisteistä.
    </td>
  </tr>
  <tr>
    <td>
      Arvosana 5
    </td>
    <td>
      Vähintään 75 % jokaisen osan tehtäväpisteistä ja vähintään 90 % koepisteistä.
    </td>
  </tr>
</table>

<p>
  
</p>



<% partial 'partials/material_sub_heading' do %>
  Kurssien kokeet
<% end %>

<p>
  Kurssin koe järjestetään lokakuun koeviikolla. Kokeesta järjestetään kaksi uusintaa. Ensimmäinen järjestetään marraskuussa ja toinen joulukuussa.
</p>

<p>
  Kurssin voi suorittaa myös erilliskokeella, johon saa osallistua vaikkei ole tehnyt kurssiin kuuluvia tehtäviä. Erilliskoe tehdään kynällä ja paperilla yleisissä tenttitilaisuuksissa. Erilliskokeeseen tulee ilmoittautua WebOodissa viimeistään kymmenen päivää ennen erilliskoetta. Erilliskoeaikataulun löydät osoitteesta <a href="https://www.cs.helsinki.fi/node/463" target="_blank">https://www.cs.helsinki.fi/node/463</a>.
</p>


<% partial 'partials/material_heading' do %>
  Tunnukset ja työvälineet
<% end %>

<p>
  Kurssilla käytetään Test My Code (TMC) -järjestelmää tehtävien automaattiseen arviointiin ja palauttamiseen. Tarvitset tunnukset kyseiseen järjestelmään. Tämän lisäksi tarvitset koneellesi Java-ohjelmien kehittämiseen tarkoitetun Javan kahdeksannen version.
</p>

<p>
  Ohjeistus Javan asentamiseen, TMC-järjestelmän asentamiseen, käyttäjätunnusten luomiseen sekä ensimmäisen kurssitehtävän tekemiseen löydät osoitteesta <a href="https://materiaalit.github.io/tmc-asennus/netbeans/" target="_blank">https://materiaalit.github.io/tmc-asennus/netbeans/</a>.
</p>

<div class="text-center text-xs-center">
  <p>
    <a class="btn btn-success btn-xs" href="https://materiaalit.github.io/tmc-asennus/netbeans/" target="_blank">
      Ohjeisiin!
    </a>
  </p>
</div>


<p>
  Kun olet luonut käyttäjätunnuksen edellä kuvattuja ohjeita seuraten, voit kirjautua tähän materiaaliin materiaalin oikeassa ylälaidassa olevan "Kirjaudu sisään"-napin kautta.
</p>

<p>
  Huomaathan, että kurssin työvälineet löytyvät valmiiksi asennettuina Kumpulan kampuksen Exactumin mikroluokista B221 ja BK107. Ohjelma löytyy nimellä "TMCBeans".
</p>



<% partial 'partials/material_heading' do %>
  Analytiikkadatan keräämisestä ja kurssilla tehtävästä tutkimuksesta
<% end %>

<% partial 'partials/material_sub_heading' do %>
  Analytiikkadatan kerääminen ja arvostelu
<% end %>

<p>
  Kurssin aikana tehdyistä tehtävistä kerätään tietoa. Kerätty tieto sisältää materiaalissa olevien kyselyiden vastauksia, osittaisen ohjelmointitehtävien ratkaisuprosessin, sekä kurssimateriaalin käyttöä. Tallennettu tieto sisältää henkilökohtaisen tunnisteen, jonka perusteella ei voida suoraan päätellä henkilöllisyyttäsi. Tieto ei esimerkiksi siis sisällä nimeäsi tai sähköpostiosoitettasi.
</p>

<p>
  Mikäli käytät TMC:stä vanhempaa versiota (pienempi kuin 1.1.14) Varmista että TMC:n asetuksissa (Valikko TMC -> Settings) kohdassa "Send snapshots of your progress for study" on ruksi.  MOOC-suorituksia tai Helsingin yliopiston avoimen yliopiston suorituksia ei arvostella ilman tätä. Uudemmissa versiossa valinta on automaattisesti päällä.
</p>

<p>
  Jos olet opiskelijana Helsingin yliopistolla ja et halua että työstämistäsi tehtävistä kerätään ajoittaista dataa kurssiarvostelua varten, kurssin voi suorittaa Kumpulassa järjestettävällä erilliskokeella. Analytiikkadataa kerätään vain kurssiin liittyvästä toiminnasta, ei esimerkiksi muista ohjelmointiprojekteistasi tai muuten koneeltasi.
</p>


<% partial 'partials/material_sub_heading' do %>
  Kurssilla tehtävästä tutkimuksesta
<% end %>

<p>
  Kurssilla tehdään oppimiseen liittyvää tutkimusta. Tällä tutkimuksella on useampia tavoitteita: (1) luoda oppimateriaali, joka ottaa yksilölliset erot huomioon ja reagoi tarvittaessa tarjoten kohdennetumpaa oppisisältöä, (2) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä (3) tukea tutkimustiedon kautta muita oppimateriaalien kehittäjiä ja oppimisen tutkijoita. Tämä johtaa luonnollisesti myös parempaan oppimiskokemukseen opiskelijoille.
</p>

<p>
  Tällaisesta oppimisanalytiikaksi kutsutusta tutkimuksesta kiinnostuneiden kannattaa tutustua esimerkiksi artikkeliin <a href="https://dl.acm.org/citation.cfm?id=2858798" target="_blank">Educational Data Mining and Learning Analytics in Programming: Literature Review and Case Studies</a>.
</p>

<p>
  Tutkimusdatan hallinnasta vastaa Helsingin yliopiston tietojenkäsittelytieteen laitoksen Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan tutkimusdataan eivät pääse käsiksi muut tutkijat. Voit myös pyytää milloin tahansa sinusta kerätyn datan poistamista lähettämällä sähköpostin osoitteeseen arto.hellas@cs.helsinki.fi
</p>

<p>
  Työskentelystä kerättyä tietoa käytetään tutkimuksessa. Kerätty tieto sisältää tietoa oppimateriaalien käytöstä, kurssitehtävien tekemisestä sekä kokeissa pärjäämisestä. Tutkimustuloksista ei pystytä tunnistamaan yksittäisiä opiskelijoita. Jos et osallistu tutkimukseen, siitä ei tule minkäänlaisia seuraamuksia.
</p>

<%= partial 'partials/quiz', locals: { id: '5a57bcce574f0b000439a32a' } %>


<% partial 'partials/hint', locals: { name: 'Sitten materiaaliin...' } do %>

  <p>
    Löydät tämän sivun ylälaidasta linkin "Osa 1", jolla pääset ensimmäiseen osaan käsiksi. Siirtyminen onnistuu myös <%= link_to 'tästä', 'part1.html'%> painamalla.
  </p>

<% end %>

<p>
  TODO: quiz tähän sivuun liittyen, quizzissa (1) arvostelu, (2) deadlinet, (3) ohjausajat, (4) jotain #mooc.fi:hin liittyvää, ja (5) kurssiin varattava työaika.
</p>

<% partial 'partials/material_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin ovat tehneet Arto Hellas (né Vihavainen) ja Matti Luukkainen. Kurssin sisältöön ovat vaikuttaneet myös Matti Paksula, Antti Laaksonen, Pekka Mikkola, Juhana Laurinharju, Martin Pärtel, Joel Kaasinen ja Mikael Nousiainen. TODO: tänne myös RAGE
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>

<p>
  Voit osallistua kurssimateriaalin parantamiseen myös itse. Jokaisen sivun alalaidassa on linkit, joilla pääset ehdottamaan muutoksia. Muutosten ehdottaminen vaatii <a href="https://github.com/" target="_blank">Github</a>-tunnuksen.
</p>
